/* main sections @s */

main {
	overflow-x: hidden;
}
main section {
	padding: 3rem 0 4rem;
}

/* section one @s */
main section.coins_table ul.nav-tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
main section.coins_table ul.nav-tabs .nav-link {
	width: 100%;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--font-clr);
	font-size: 0.9rem;
	letter-spacing: 0.2px;
	padding: 0.8rem 0;
}
main section.coins_table ul.nav-tabs .nav-link:not(.active) {
	border-top: 3px solid transparent;
}
main section.coins_table ul.nav-tabs .nav-link.active {
	border-top: 5px solid var(--green-lighter);
	border-right: var(--border);
	border-left: var(--border);
}
main section.coins_table .nav-item {
	display: flex;
}
main section.coins_table .nav-link.active {
	border-top-color: var(--green-lighter);
}
main section.coins_table :is(.nav-item:has(.nav-link.active) + .nav-item .nav-link, .nav-item:has(+ .nav-item .nav-link.active) .nav-link),
main section.coins_table .nav-link:not(.active):hover {
	border: none;
}

:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin, .crypto_lists_table_footer) {
	border-right: var(--border);
	border-left: var(--border);
}
.crypto_lists_table_footer {
	border-top: var(--border);
	padding: 0.56rem 0.5em;
	display: flex;
	align-items: center;
	background-color: var(--green-opacity);
	justify-content: flex-end;
}
:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}
.crypto_lists_table_body {
	border-bottom: var(--border);
}
.crypto_lists_table_footer .view_all {
	flex-grow: 2;
	display: flex;
	justify-content: center;
}
.crypto_lists_table_footer .view_all a {
	border: 1.5px solid var(--green-lighter);
	color: var(--green-lighter);
	width: max-content;
	padding: 0.4rem 1rem;
	border-radius: 5px;
}
.crypto_lists_table_footer :is(.view_all a, .live) {
	column-gap: 3px;
}
.crypto_lists_table_footer > span {
	margin-right: 10px;
	font-weight: 900;
	font-size: 0.88rem;
}
.crypto_lists_table_footer label {
	font-size: 0.75rem;
	font-weight: 900;
	color: var(--white);
	margin-left: -0.5rem;
}
.crypto_lists_table_footer .live > div {
	padding: 4px 5px;
	background-color: var(--red);
	border-radius: 6px;
}
.crypto_lists_table_footer .live > div .form-check-input {
	cursor: pointer;
	border: 1px solid var(--red);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 24 24"%3E%3Cpath fill="%23c9302c" d="M12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z"%2F%3E%3C%2Fsvg%3E');
	scale: 0.8;
}
.crypto_lists_table_footer .live > div:has(.form-check .form-check-input:checked) {
	background-color: var(--green-lighter);
}
.form-switch .form-check-input:checked {
	background-color: var(--white);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 24 24"%3E%3Cpath fill="%2312a733" d="M12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z"%2F%3E%3C%2Fsvg%3E') !important;
	border: 1px solid var(--green-lighter) !important;
}
.crypto_lists_table_footer .form-check-input {
	box-shadow: none;
}
.crypto_lists_table_footer .form-chexck:has(.form-check-input:checked) {
	background-color: var(--green-lighter);
}
.crypto_lists_table_header {
	padding: 0.3rem;
	border-bottom: 1.5px solid var(--green-lighter);
}
.crypto_lists_table_header > span {
	font-weight: 900;
	border-radius: 2px;
	font-size: 0.75rem;
}
.crypto_lists_table_body .each-coin > span {
	font-size: 0.9rem;
	text-transform: uppercase;
	display: grid;
	align-items: center;
}
.crypto_lists_table_body .each-coin > span.num {
	font-weight: 900;
}
* span:has(svg) svg {
	color: var(--grey_1);
}
.crypto_lists_table_body .each-coin > span.date_time {
	display: grid;
	place-content: center;
	color: var(--text-clr);
}
.crypto_lists_table_body .each-coin > span:not(:last-child) {
	border-right: 1px solid var(--border-clr);
}
:is(.crypto_lists_table_header) > span {
	display: flex;
	align-items: center;
	justify-content: center;
}
.crypto_lists_table_body :is(.each-coin, .each-coin *) {
	-webkit-transition: 180ms ease;
	-moz-transition: 180ms ease;
	-ms-transition: 180ms ease;
	-o-transition: 180ms ease;
	transition: 180ms ease;
}
.crypto_lists_table_body .each-coin:hover {
	background-color: var(--green-opacity);
}
.crypto_lists_table_body .each-coin:hover .num {
	background-color: var(--green-lighter);
	color: var(--white);
}
:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > span {
	white-space: nowrap;
	text-align: center;
	padding: 5px;
	-webkit-transition: background-color var(--transition);
	-moz-transition: background-color var(--transition);
	-ms-transition: background-color var(--transition);
	-o-transition: background-color var(--transition);
	transition: background-color var(--transition);
}
:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > :is(span.has-to-md-hidden, span.has-to-sm-hidden) {
	display: none;
}
@media all and (min-width: 630px) {
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > span.has-to-sm-hidden {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) {
		grid-template-columns: 0.4fr 2fr 1fr 0.8fr 0.8fr 1.2fr 1fr;
	}
}
@media all and (min-width: 1020px) {
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > span.has-to-md-hidden {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) {
		grid-template-columns: 0.4fr 1fr 1fr 0.8fr 0.8fr 0.8fr 1fr 0.4fr 1.5fr 0.6fr;
	}
}
.crypto_lists_table_header > span:hover {
	background-color: var(--green-opacity);
}
.crypto_lists_table_header > span.has-icon {
	gap: 5px;
}
.crypto_lists_table_body .each-coin:not(:last-child) {
	border-bottom: 1px solid var(--border-clr);
}
.crypto_lists_table_body .each-coin .coin a {
	display: grid;
	grid-template-columns: 0.4fr 1fr;
	gap: 0.7rem;
}
.crypto_lists_table_body .each-coin .coin_image {
	display: none;
}
.crypto_lists_table_body .each-coin .coin_image img {
	max-width: 28px;
}
@media all and (min-width: 375px) {
	.crypto_lists_table_body .each-coin .coin_image {
		display: inline-block;
	}
}
.crypto_lists_table_body .each-coin .coin_names {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.crypto_lists_table_body .each-coin .coin_names span {
	line-height: 1.2;
	font-weight: 900;
}
.crypto_lists_table_body .each-coin .coin_names .coin_fullname {
	font-size: 0.9rem;
	color: var(--black);
}
.crypto_lists_table_body .each-coin .coin_names .coin_short {
	font-size: 0.76rem;
	color: var(--text-clr);
	text-transform: uppercase;
}
@media all and (max-width: 400px) {
	html {
		font-size: 15px;
	}
}

/* forum tab */
.forum_post_inner {
	padding: 1.05rem;
}
.user_in_coin_forum {
	display: flex;
	align-items: center;
	gap: 10px;
}
.user_in_coin_forum .user_image img {
	max-width: 35px;
	border-radius: 100vw;
}
.user_in_coin_forum :is(span a, span) {
	font-size: 0.78rem;
}
.user_in_coin_forum span a {
	font-weight: 900;
	color: var(--green-lighter);
}
.forum_menu button {
	border: none;
	background-color: transparent;
	color: var(--green-lighter);
}
.forum_menu .options_container {
	position: absolute;
	right: 0;
	top: 100%;
	background-color: var(--white);
	width: 200px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	scale: 0;
	transform-origin: top right;
}
.forum_menu button + .options_container.clicked {
	scale: 1;
}
.forum_menu button svg {
	font-size: 1.2rem;
}
.options_container .each_social {
	border-bottom: 0.5px solid var(--border-clr);
}
.options_container .each_social a {
	display: flex;
	align-items: center;
}
.options_container .each_social a:hover {
	background-color: var(--green-opacity);
}
.options_container .each_social a:hover :is(span, span.icon svg) {
	color: var(--green-light);
}
.options_container .each_social a:hover {
	background-color: var(--green-opacity);
}
.options_container .each_social a span {
	font-size: 0.8rem;
	font-weight: 600;
	padding: 10px;
}
.options_container .each_social span:not(.icon) {
	border-left: 0.5px solid var(--border-clr);
	font-size: 0.76rem;
	color: var(--font-clr);
}
.options_container .each_social span.icon svg {
	font-size: 0.9001rem;
}
/* .options_container .each_social a spn */
/* section one @e */

/* section two @s */
main section.guides .section_title .title {
	font-weight: 900;
	padding-bottom: 1rem;
	width: max-content;
	margin-inline: auto;
	position: relative;
	text-transform: uppercase;
}
main section.guides .section_title .title::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1.5px;
	width: 200px;
	content: "";
}
main section.guides .section_title {
	margin-bottom: 1rem;
}
main section.guides .section_subcontent span {
	font-size: 0.95rem;
}
main section.guides .brand {
	font-weight: 900;
	color: var(--green-lighter);
}
.crypto_news_wrapper_inner {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
	padding-top: 3rem;
}
@media all and (min-width: 400px) {
	.crypto_news_wrapper_inner {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}
}
.crypto_news_wrapper_inner .each_news {
	padding: 1.5rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 6px;
	border: 1px solid #eaeaee;
}
.crypto_news_wrapper_inner .each_news .sponsor {
	margin-bottom: 0.7rem;
	line-height: 1;
}
.crypto_news_wrapper_inner .each_news .sponsor small {
	font-size: 0.8rem;
	font-weight: 900;
}
.crypto_news_wrapper_inner .each_news .image-container {
	border-radius: 6px;
	overflow: hidden;
}
.crypto_news_wrapper_inner .each_news_content {
	display: grid;
	grid-template-columns: 0.35fr 1fr;
	gap: 1.2rem;
}
.crypto_news_wrapper_inner .text-content {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	justify-content: center;
}
.crypto_news_wrapper_inner .text-content-title .title {
	-webkit-line-clamp: 2;
	line-clamp: 2;
	color: var(--black);
}
.crypto_news_wrapper_inner .text-content-body span {
	-webkit-line-clamp: 3;
	line-clamp: 3;
	font-size: 0.9rem;
	color: var(--font-clr);
}
.crypto_news_wrapper_inner :is(.text-link a, .text-content-body span) {
	line-height: 1.4;
	display: none;
}
.crypto_news_wrapper_inner .text-link a {
	font-size: 0.8rem;
	color: var(--black);
}
@media all and (min-width: 376px) {
	.crypto_news_wrapper_inner .text-link a {
		display: block;
	}
	.crypto_news_wrapper_inner .text-content-body span {
		display: none;
	}
}
@media all and (min-width: 600px) {
	.crypto_news_wrapper_inner .text-content-body span {
		display: block;
	}
}
/* section two @end */

/* main sections @e */
