@font-face {
	font-family: SpaceGrotesk;
	src: url("../font/SpaceGrotesk.ttf");
}
/* variables @s */
:root {
	--font-family: SpaceGrotesk;
	--green-opacity: rgb(191 238 202 / 65%);
	--green-light: #0e8847;
	--green-lighter: #12a733;
	--grey_1: #aaaaad;
	--font-clr: #444546;
	--text-clr: #666;
	--black: #000;
	--white: #fff;
	--footer_bg: #131417;
	--ref-bg: #f6f6f6;
	--grey_2: #b6b6b8;
	--transition: 280ms ease-in-out;
	--border: 1.5px solid #b6b6b847;
	--border-clr: #b6b6b847;
	--red: #c9302c;
	--header-bg: rgb(10, 22, 35);
}
/* variables @e */

/* defaults @s */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}
:is(h1, h2, h3, h4, h5, h6) {
	font-weight: 600;
	margin: 0;
}
:is(li, ul) {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	font-size: 14px;
}
:is(.btn, button):focus {
	box-shadow: none;
	outline: none;
}
* :is(button, a) {
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
/* defaults @e */

.body_inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

/* nav bars @s */
/* ========== large nav bars @s ========= */
header .header_inner > .row {
	padding: 0.3rem 0;
}
header .image-container img {
	max-width: 160px;
}
header .logo_links {
	gap: 2rem;
}
header .lg-screen-links {
	column-gap: 1rem;
}
header .lg-screen-links a {
	font-size: 1.02rem;
	letter-spacing: 0.3px;
	color: var(--footer_bg);
	font-weight: 900;
	white-space: nowrap;
}
header .portfolio_sign_in_up {
	column-gap: 1rem;
}
header .portfolio_sign_in_up :is(a, button) {
	font-weight: 900;
	white-space: nowrap;
}
header .portfolio_sign_in_up a {
	color: var(--footer_bg);
	font-size: 0.98rem;
}
header .portfolio_sign_in_up button {
	font-size: 0.9rem;
	color: var(--white);
	padding: 1rem 1rem;
	border: none;
	background-color: var(--green-lighter);
}
header .portfolio_sign_in_up button:hover {
	background-color: var(--green-light);
}
header + .sub-header {
	position: sticky;
	top: 4rem;
	background-color: var(--footer_bg);
	/* background-color: var(--header-bg); */
	/* background-color: var(--green-lighter); */
	padding: 0.4rem 0;
	z-index: 99;
}
.sub-header_inner .sub_links {
	display: flex;
	align-items: center;
	gap: 5px;
}
.sub-header_inner div.sub_links li > :is(button, a) {
	border: none;
	font-weight: 600;
	color: var(--white);
	background-color: transparent;
	font-size: 0.9rem;
	padding: 12px;
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
.sub-header_inner .sub_links li button svg {
	margin-top: -3px;
}
.sub-header_inner .sub_links .sub_link_item.active {
	color: var(--green-light);
}
.sub-header_inner .sub_links li :is(button, a, button svg):hover {
	color: var(--green-lighter);
}
.sub-header form {
	gap: 10px;
}
.sub-header .form-control {
	border: 1.6px solid transparent;
	border-radius: 4px;
	background-color: #333c46;
	color: var(--white);
	width: 100%;
	min-height: 2.8rem;
	font-size: 0.8rem;
}
.sub-header .form-control::placeholder {
	font-size: 0.85rem;
}
.sub-header .form-control:focus {
	box-shadow: none;
	border: 1.6px solid var(--green-lighter);
}
.sub-header .search_button button {
	background-color: var(--green-lighter);
	border: none;
	border-radius: 6px;
	color: var(--white);
	font-size: 0.85rem;
	min-height: 2.8rem;
	display: flex;
	padding: 0 1rem;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.sub-header .search_button button:hover {
	background-color: var(--green-light);
}
.sub-header .search_button button svg {
	font-size: 1.05rem;
}
.sub-header_inner .form_container {
	flex-grow: 1.3;
}
.form_container .form-input {
	width: 60%;
}
.sub_links :is(.top_lists, .research) .drop_down {
	background-color: var(--white);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	left: 0;
	top: 3rem;
	min-width: 700px;
	width: 100%;
	z-index: 90;
}
.sub_links :is(.research, .top_lists) .drop_down {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr;
	scale: 0;
	visibility: hidden;
	opacity: 0.4;
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	transform-origin: top left;
}
.sub_links :is(.research, .top_lists) .drop_down.active {
	scale: 1;
	visibility: visible;
	opacity: 1;
}
/* .sub_links .top_lists .drop_down {
	display: grid;
	display: none;
} */
.sub_links :is(.top_lists, .research) .drop_down .column_two {
	flex-grow: 0.8;
}
.sub_links :is(.top_lists, .research) .drop_down .column_three {
	flex-grow: 2;
	width: auto;
}
.sub_links .drop_down .column {
	padding: 0.7rem 0.6rem 1rem;
}
.sub_links .drop_down .column_inner {
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	row-gap: 1rem;
}
.sub_links :is(.top_lists, .research) .column-title .title {
	color: var(--white);
	text-transform: uppercase;
	font-size: 0.78rem;
	letter-spacing: 0.3px;
	background-color: var(--green-lighter);
	padding: 10px;
	border-radius: 6px;
}
.sub_links :is(.top_lists, .research) .drop_down .column:nth-child(2n) {
	border-right: var(--border);
	border-left: var(--border);
}
.sub_links :is(.top_lists, .research) .links_wrapper {
	display: flex;
	flex-direction: column;
}
.sub_links :is(.top_lists, .research) .links_wrapper a {
	font-size: 0.8rem;
	color: var(--text-clr);
	padding: 10px 8px;
	border-radius: 5px;
	display: block;
	-webkit-line-clamp: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sub_links :is(.top_lists, .research) .links_wrapper a:hover {
	background-color: var(--green-opacity);
}
.sub_links :is(.top_lists, .research) .coins_grid_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	gap: 1.1rem 5px;
}
.sub_links :is(.top_lists, .research) .coins_grid_wrapper a {
	padding: 0;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	color: var(--footer_bg);
	font-weight: 900;
	justify-content: center;
	font-size: 0.78rem;
	align-items: center;
	text-align: center;
}
.sub_links :is(.top_lists, .research) .coins_grid_wrapper li img {
	max-width: 30px;
}
header .modal {
	backdrop-filter: blur(1.5px);
}
/* ============ large nav bars @e ========== */
/* ============ mobile nav bars @s ========== */
@media all and (max-width: 610px) {
	.sub-header_inner > div {
		column-gap: 1rem;
	}
	.sub-header_inner .form_container {
		flex-grow: 2;
	}
	.form_container .form-input {
		width: 100%;
	}
}
.sub-header button.mobile_menu {
	border: none;
	background-color: transparent;
	color: var(--white);
}
.sub-header button.mobile_menu > svg {
	font-size: 1.7rem;
}
.mobile_menu_container_inner .nav_item {
	padding: 0.6rem;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	color: var(--white);
	align-items: center;
	border-radius: 8px;
}
.mobile_menu_container_inner .nav_item:hover {
	background-color: var(--green-light);
	color: var(--white);
}
.mobile_menu_container {
	background-color: var(--footer_bg);
	padding: 1rem;
	border-radius: 12px;
	width: auto;
	opacity: 0;
	scale: 0;
	top: 2.5rem;
	left: -5px;
	visibility: hidden;
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	transform-origin: top left;
	/* aspect-ratio: 1 /1; */
	box-shadow: rgba(255 255 255 / 50%) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.mobile_menu + .mobile_menu_container.active {
	scale: 1;
	opacity: 1;
	visibility: visible;
}
.mobile_menu:has(+ .mobile_menu_container.active) svg {
	color: var(--green-lighter);
}
:is(.mobile_menu_header, .mobile_menu_body_inner) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.mobile_menu_body_inner .nav_item svg {
	font-size: 1.5rem;
}
.mobile_menu_body_inner .nav_item span {
	font-size: 0.7rem;
	white-space: nowrap;
}
.mobile_menu_container_inner {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
@media all and (min-width: 426px) {
	.mobile_menu_container {
		width: min-content;
	}
	.mobile_menu_container_inner .nav_item {
		padding: 1rem;
	}
}
/* ============ mobile nav bars @e ========== */
/* nav bars @e */

/* main sections @s */
main section {
	padding: 3rem 0 4rem;
}

/* section one @s */
main section.coins_table ul.nav-tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
main section.coins_table ul.nav-tabs .nav-link {
	width: 100%;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--font-clr);
	font-size: 0.9rem;
	letter-spacing: 0.2px;
	padding: 0.8rem 0;
}
main section.coins_table ul.nav-tabs .nav-link:not(.active) {
	border-top: 3px solid transparent;
}
main section.coins_table ul.nav-tabs .nav-link.active {
	border-top: 5px solid var(--green-lighter);
	border-right: var(--border);
	border-left: var(--border);
}
main section.coins_table .nav-item {
	display: flex;
}
main section.coins_table .nav-link.active {
	border-top-color: var(--green-lighter);
}
main section.coins_table :is(.nav-item:has(.nav-link.active) + .nav-item .nav-link, .nav-item:has(+ .nav-item .nav-link.active) .nav-link),
main section.coins_table .nav-link:not(.active):hover {
	border: none;
}

:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin, .crypto_lists_table_footer) {
	border-right: var(--border);
	border-left: var(--border);
}
.crypto_lists_table_footer {
	border-top: var(--border);
	padding: 0.56rem 0.5em;
	display: flex;
	align-items: center;
	background-color: var(--green-opacity);
	justify-content: flex-end;
}
:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}
.crypto_lists_table_body {
	border-bottom: var(--border);
}
.crypto_lists_table_footer .view_all {
	flex-grow: 2;
	display: flex;
	justify-content: center;
}
.crypto_lists_table_footer .view_all a {
	border: 1.5px solid var(--green-lighter);
	color: var(--green-lighter);
	width: max-content;
	padding: 0.4rem 1rem;
	border-radius: 5px;
}
.crypto_lists_table_footer :is(.view_all a, .live) {
	column-gap: 3px;
}
.crypto_lists_table_footer > span {
	margin-right: 10px;
	font-weight: 900;
	font-size: 0.88rem;
}
.crypto_lists_table_footer label {
	font-size: 0.75rem;
	font-weight: 900;
	color: var(--white);
	margin-left: -0.5rem;
}
.crypto_lists_table_footer .live > div {
	padding: 4px 5px;
	background-color: var(--red);
	border-radius: 6px;
}
.crypto_lists_table_footer .live > div .form-check-input {
	cursor: pointer;
	border: 1px solid var(--red);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 24 24"%3E%3Cpath fill="%23c9302c" d="M12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z"%2F%3E%3C%2Fsvg%3E');
	scale: 0.8;
}
.crypto_lists_table_footer .live > div:has(.form-check .form-check-input:checked) {
	background-color: var(--green-lighter);
}
.form-switch .form-check-input:checked {
	background-color: var(--white);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 24 24"%3E%3Cpath fill="%2312a733" d="M12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Z"%2F%3E%3C%2Fsvg%3E') !important;
	border: 1px solid var(--green-lighter) !important;
}
.crypto_lists_table_footer .form-check-input {
	box-shadow: none;
}
.crypto_lists_table_footer .form-chexck:has(.form-check-input:checked) {
	background-color: var(--green-lighter);
}
.crypto_lists_table_header {
	padding: 0.3rem 0;
	border-bottom: 1.5px solid var(--green-lighter);
}
.crypto_lists_table_header > span {
	font-weight: 900;
	border-radius: 2px;
	font-size: 0.75rem;
}
.crypto_lists_table_body .each-coin > span {
	font-size: 0.9rem;
	text-transform: uppercase;
	display: grid;
	align-items: center;
}
.crypto_lists_table_body .each-coin > span.num {
	font-weight: 900;
}
* span:has(svg) svg {
	color: var(--grey_1);
}
.crypto_lists_table_body .each-coin > span.date_time {
	display: grid;
	place-content: center;
	color: var(--text-clr);
}
.crypto_lists_table_body .each-coin > span:not(:last-child) {
	border-right: 1px solid var(--border-clr);
}
:is(.crypto_lists_table_header) > span {
	display: flex;
	align-items: center;
	justify-content: center;
}
.crypto_lists_table_body :is(.each-coin, .each-coin *) {
	-webkit-transition: 180ms ease;
	-moz-transition: 180ms ease;
	-ms-transition: 180ms ease;
	-o-transition: 180ms ease;
	transition: 180ms ease;
}
.crypto_lists_table_body .each-coin:hover {
	background-color: var(--green-opacity);
}
.crypto_lists_table_body .each-coin:hover .num {
	background-color: var(--green-lighter);
	color: var(--white);
}
:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > span {
	white-space: nowrap;
	text-align: center;
	padding: 5px;
	-webkit-transition: background-color var(--transition);
	-moz-transition: background-color var(--transition);
	-ms-transition: background-color var(--transition);
	-o-transition: background-color var(--transition);
	transition: background-color var(--transition);
}
:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > :is(span.has-to-md-hidden, span.has-to-sm-hidden) {
	display: none;
}
@media all and (min-width: 630px) {
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > span.has-to-sm-hidden {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) {
		grid-template-columns: 0.4fr 2fr 1fr 0.8fr 0.8fr 1.2fr 1fr;
	}
}
@media all and (min-width: 1020px) {
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) > span.has-to-md-hidden {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	:is(.crypto_lists_table_header, .crypto_lists_table_body .each-coin) {
		grid-template-columns: 0.4fr 1fr 1fr 0.8fr 0.8fr 0.8fr 1fr 0.4fr 1.5fr 0.6fr;
	}
}
.crypto_lists_table_header > span:hover {
	background-color: var(--green-opacity);
}
.crypto_lists_table_header > span.has-icon {
	gap: 5px;
}
.crypto_lists_table_body .each-coin:not(:last-child) {
	border-bottom: 1px solid var(--border-clr);
}
.crypto_lists_table_body .each-coin .coin a {
	display: grid;
	grid-template-columns: 0.4fr 1fr;
	gap: 0.7rem;
}
.crypto_lists_table_body .each-coin .coin_image {
	display: none;
}
.crypto_lists_table_body .each-coin .coin_image img {
	max-width: 28px;
}
@media all and (min-width: 375px) {
	.crypto_lists_table_body .each-coin .coin_image {
		display: inline-block;
	}
}
.crypto_lists_table_body .each-coin .coin_names {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.crypto_lists_table_body .each-coin .coin_names span {
	line-height: 1.2;
	font-weight: 900;
}
.crypto_lists_table_body .each-coin .coin_names .coin_fullname {
	font-size: 0.9rem;
	color: var(--black);
}
.crypto_lists_table_body .each-coin .coin_names .coin_short {
	font-size: 0.76rem;
	color: var(--text-clr);
	text-transform: uppercase;
}
@media all and (max-width: 400px) {
	html {
		font-size: 14px;
	}
}
/* section one @e */

/* section two @s */

main section.guides .section_title .title {
	font-weight: 900;
	padding-bottom: 1rem;
	width: max-content;
	margin-inline: auto;
	position: relative;
	text-transform: uppercase;
}
main section.guides .section_title .title::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1.5px;
	width: 200px;
	content: "";
}
main section.guides .section_title {
	margin-bottom: 1rem;
}
main section.guides .section_subcontent span {
	font-size: 0.95rem;
}
main section.guides .brand {
	font-weight: 900;
	color: var(--green-lighter);
}
.crypto_news_wrapper_inner {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
	padding-top: 3rem;
}
@media all and (min-width: 400px) {
	.crypto_news_wrapper_inner {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}
}
.crypto_news_wrapper_inner .each_news {
	padding: 1.5rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 6px;
	border: 1px solid #eaeaee;
}
.crypto_news_wrapper_inner .each_news .sponsor {
	margin-bottom: 0.7rem;
	line-height: 1;
}
.crypto_news_wrapper_inner .each_news .sponsor small {
	font-size: 0.8rem;
	font-weight: 900;
}
.crypto_news_wrapper_inner .each_news .image-container {
	border-radius: 6px;
	overflow: hidden;
}
.crypto_news_wrapper_inner .each_news_content {
	display: grid;
	grid-template-columns: 0.35fr 1fr;
	gap: 1.2rem;
}
.crypto_news_wrapper_inner .text-content {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.crypto_news_wrapper_inner .text-content-title .title {
	-webkit-line-clamp: 2;
	line-clamp: 2;
	color: var(--black);
}
.crypto_news_wrapper_inner .text-content-body span {
	-webkit-line-clamp: 3;
	line-clamp: 3;
	font-size: 0.9rem;
	color: var(--font-clr);
}
.crypto_news_wrapper_inner :is(.text-link a, .text-content-body span) {
	line-height: 1.4;
	display: none;
}
@media all and (min-width: 375px) {
	.crypto_news_wrapper_inner :is(.text-link a, .text-content-body span) {
		display: none;
	}
}
.crypto_news_wrapper_inner .text-link a {
	display: none;
	font-size: 0.8rem;
	color: var(--black);
}
@media all and(min-width: 376px) {
	.crypto_news_wrapper_inner :is(.text-link a, .text-content-body span) {
		display: inline;
	}
}
/* section two @end */

/* main sections @e */

/* footer @s */
footer .footer_inner {
	background-color: var(--footer_bg);
	padding: 4rem 0 3rem;
}
.grid_wrapper_main {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	gap: 3rem 2.2rem;
}
@media all and (max-width: 769px) {
	.grid_wrapper_main {
		grid-template-columns: 1fr;
	}
}
footer .internal_links_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-gap: 2rem;
}
.internal_links_wrapper :is(.each_container, .links_container) {
	display: flex;
	flex-direction: column;
}
.internal_links_wrapper .each_container {
	row-gap: 1rem;
}
.internal_links_wrapper .links_container {
	row-gap: 0.1rem;
}
.internal_links_wrapper .links_container a {
	color: var(--white);
	font-size: 0.8rem;
	padding: 0.3rem 0;
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}
.internal_links_wrapper .links_container a:hover {
	color: var(--green-lighter);
}
.internal_links_wrapper > div:not(.has-icons) li {
	padding: 0.2rem 0;
}
.internal_links_wrapper .has-icons li a {
	display: flex;
	align-items: center;
	gap: 8px;
}
:is(.external_links_wrapper, .internal_links_wrapper) .link_title {
	color: var(--green-lighter);
	font-size: 0.88rem;
}
.external_links_wrapper .links_container {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}
.external_links_wrapper :is(.links_container > div * a, ._zof28fojwef a) {
	color: var(--white);
}
.external_links_wrapper ._zof28fojwef .love {
	font-size: 1.2rem;
	margin: -4px 3px 0;
}
.external_links_wrapper ._zof28fojwef a:hover {
	text-decoration: 1.5px underline var(--green-lighter);
}
.external_links_wrapper .social_logos_inner {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
}
.external_links_wrapper .social_logos_inner a div {
	background-color: var(--black);
	padding: 7px;
	border-radius: 5px;
	border: 1px solid var(--green-opacity);
	-webkit-transition: border-color var(--transition);
	-moz-transition: border-color var(--transition);
	-ms-transition: border-color var(--transition);
	-o-transition: border-color var(--transition);
	transition: border-color var(--transition);
}
.external_links_wrapper .social_logos_inner a:hover div {
	border-color: var(--green-light);
}
.external_links_wrapper .social_logos_inner a svg {
	font-size: 1.4rem;
}
.external_links_wrapper ._zof28fojwef a {
	font-size: 0.8rem;
}
.external_links_wrapper ._zof28fojwef {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	align-items: center;
	color: var(--white);
}
.external_links_wrapper ._zof28fojwef span {
	font-size: 0.79rem;
}
.external_links_wrapper .store_logos {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.external_links_wrapper .store_logos img {
	width: 120px;
}
.external_links_wrapper .store_logos a {
	border-radius: 8px;
	overflow: hidden;
	-webkit-transition: border-color var(--transition);
	-moz-transition: border-color var(--transition);
	-ms-transition: border-color var(--transition);
	-o-transition: border-color var(--transition);
	transition: border-color var(--transition);
	border: 2px var(--green-lighter) solid;
}
.external_links_wrapper .store_logos a:hover {
	border: 2px solid var(--green-light);
}
/* footer @e */ ;
